make.*
Makefile.complete
ecoreg2.RData
allfits.RData
allprofs.RData
ecoreg_means.RData
*_cache/
*_files/
*.Rout
.Rhistory
.#*
\#*
*~
.RData
## large files, get from Google drive
full_data.RData
full_data_LAND.RData
